
<div class="navbar">
        <a href="#news">Accueil</a>
        <a href="#home">A propos</a>
            <div class="dropdown">
                <button class="dropbtn">Information
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Contact</a>
                    <a href="#">A propos</a>
                </div>
            </div>
        <a href="#news">Se connecter</a>
        <a href="#news">Se déconnecter</a>
</div>

