{% extends 'base.html.twig' %}
{% block title %}


{% block body %}
    {{ form_start(participantform) }}
    {{ form_widget(participantform) }}
    <button>Modifier</button>
    {{ form_end(participantform) }}
{% endblock %}



{% endblock %}

