{% extends 'base.html.twig' %}

{% block body %}

    <!-- Index -->
    <div class ="container-presentation">
        <img src="{{ asset('img/Sortir.v2.png.png') }}" alt="">
    </div>
    <div class="container-text-presentation">
        <p id="presentation-home">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores dicta esse et illo incidunt
            ipsam laborum necessitatibus quae quibusdam quidem, soluta sunt tempora temporibus, tenetur! Impedit tessssssssssssssssssssssssssssssssssssssssssst labore modi quidem?
            ptas voluptates
            impedit iste iusto neque nobis numquam, ratione rerum sequi sint sit tempora vero, voluptas voluptates.</p>
    </div>

{% endblock %}