* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);

}

/* ---------------------------------- NAVBAR -------------------------------------*/
/* Navbar container */
.navigation {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;

    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;

}


/* Links inside the navbar */
.navigation a {
    float: left;
    font-size: 16px;
    color: #2c2c2c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* grille de navigation */

.col1 {

    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;

}

.col2 {

    grid-column: 3/4;
    grid-row: 1/3;
    display: flex;
    justify-content: center;

}

.col3 {

    grid-column: 4/6;
    grid-row: 1/2;
    display: flex;
    justify-content: center;

}

/* Bouton de navigation gestion profil */
.btn-nav1 {
    display: flex;
    justify-content: center;
    background-color: #ffb285;
    color: white;

    border-radius: 6px;
    padding: 0.2em;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 0 white;
    transition-duration: 0.4s;
    text-decoration: none;
    margin: auto;

}

/* Bouton de navigation gestion sortie */
.btn-nav2 {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    color: white;

    border-radius: 6px;
    padding: 0.2em;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 0 white;
    transition-duration: 0.4s;
    text-decoration: none;
    margin: auto;

}

/* ---------------------------------- INDEX.HTML -------------------------------------*/

/* --photo
--*/
.container-presentation {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}



/* ---------------------------------- PAGE : FORMULAIRES  --------------------------------------------*/

/* recherche des sorties */
.formRechercheParent {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);

}

.formRecherche {
    grid-column: 2/5;
    grid-row: 1/2;

}

/* Ajouter une sortie */

.formAjoutParent {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);

}

.formAjout {
    grid-column: 3/6;
    grid-row: 1/2;

}

/* Ajouter un profil */
.formProfilParent {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);

}

.formProfil {
    grid-column: 3/6;
    grid-row: 1/2;
}
/* Administration */
.formAdminParent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.formAdmin {
    grid-column: 2/3;
    grid-row: 1/2;
}


/* titre des formulaires */

#titreForm{
    display: flex;
   justify-content: center;
    background-color: #fafafa;
}

.listeAdmin{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.2em;

}

/* boutons des formulaires */

#boutonForm{

    color:white;
    background-color: lightseagreen;
    border-color:lightseagreen ;
    text-decoration: none;

    border-radius: 6px;
    height: 3em;
    width: auto;








}

/*nombre de sorties*/

#nb-sortie{
    display: flex;
    justify-content: center;

}
/* ---------------------------------- PAGE : LISTE- btnrecherche  --------------------------------------------*/

.bloc-sortie-general{
    background-color:#fafafa ;
    padding-bottom: 1rem;
}
/* ---------------------------------- PAGE : LISTE DES SORTIES  --------------------------------------------*/


/* Partie liste des sorties

 */

.container-liste-1-titre, .container-liste-1-nbe {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 20px;
}


.form.inline {
    background-color: red;
}


/* -----Liste -----*/
.container-general {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 14px;
    padding: 50px;
}

.container-general2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    justify-content: center;
    font-size: 14px;
    padding: 50px;

}

.container-description {
    display: flex;
    justify-content: center;
}

.container-bloc {
    border-block-width: 250px;
    background-color: #fafafa;
    margin: 20px 10px 20px 10px;
    height: 780px;
    width: 400px;
}


/**
partie liste - text
 */

.liste-1 {
    margin: 1rem;

}
#nom-sortie {
    font-family: "BlinkMacSystemFont", serif;
    font-size: x-large;
    font-weight: bold;
    color: #19264f;
    text-decoration: none;

}

#pseudo-sortie {
    font-size: medium;
    color: #fd8b05;
    font-weight: bold;
    text-decoration: none;
}

ul.liste-description {
    font-family: "Cambria Math", monospace;
    margin-top: 2rem;
    padding: 2rem;
    width: 30vh;
    height: 50vh;
}

p {
    padding: 3px;
}

#lieu-text {
    color: #8194fb;
}

#profil {
    color: #8194fb;
}

/**
participants - liens
 */

#bloc-participant {
    margin-top: 10px;
    display: flex;
    /*text-align: start;*/
    justify-content: center;
    font-size: small;

}

#lien-participant:hover, #pas-participant:hover {
    background-color: #5a5353;
}

#lien-participant, #pas-participant {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #19264f;
    font-weight: bold;
}

#lien-participant:hover, #pas-participant:hover {
    background-color: #333;
    color: #fff;
}

#pas-participant {
    display: flex;
    justify-content: center;
}

/*
Partie boutton  - Ajouter sortie
                - inscription
                - s'inscrire
 */

/*
ajouter
 */
.btn-ajout {
    display: flex;
    justify-content: center;
    font-size: large;

}

#btn-ajouter-liste {

    background-color: lightseagreen;
    color: white;
    border-radius: 6px;
    padding: 0.2em;
    cursor: pointer;
    box-shadow: 0 5px 0 white;
    transition-duration: 0.1s;
    text-decoration: none;
}

#btn-ajouter-liste:hover {
    transform: translateY(1px);
    background-color: #15998e;
    border: 2px solid whitesmoke;
    text-decoration: none;
}


.btn-inscription:hover {
    transform: translateY(5px);
    box-shadow: 0 0 0 #15998e;
    text-shadow: 2px 2px 0 #15998e;
    background-color: #15998e;
    border: 2px solid whitesmoke;
    text-decoration: none;
}

/*
inscription
 */
.container-inscription {
    display: flex;
    flex-direction: column-reverse;
    justify-items: flex-end;
    margin-top: 3vh;
    background-color: #ffffff;
    text-decoration: none;

}

.container-organisateur {
    display: flex;
    flex-direction: column-reverse;
    justify-items: flex-end;
    margin-top: 1vh;
    background-color: #ffffff;
    text-decoration: none;

}

.btn-inscription {
    display: flex;
    justify-content: center;
    border: 2px solid #15998e;
    background-color: #15998e;
    color: white;
    border-radius: 6px;
    padding: 0.2em;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 0 white;
    transition-duration: 0.4s;
    text-decoration: none;
}

.btn-inscription:hover {
    transform: translateY(5px);
    box-shadow: 0 0 0 #c7b75f;
    text-shadow: 2px 2px 0 #42964c;
    background-color: #69c160;
    border: 2px solid whitesmoke;
    text-decoration: none;
}

/*
désinscrire
 */

.btn-desinscription {
    display: flex;
    justify-content: center;
    border: 2px solid #811a2a;
    background-color: #811a2a;
    color: white;
    border-radius: 6px;
    padding: 0.2em;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 0 white;
    transition-duration: 0.4s;
    text-decoration: none;
}

.btn-desinscription:hover {
    transform: translateY(5px);
    box-shadow: 0 0 0 #ede4da;
    text-shadow: 2px 2px 0 #ede4da;
    background-color: #ede4da;
    border: 2px solid #ede4da;
    text-decoration: none;
}

.btn-suppression,.btn-modification,.btn-annulation,.btn-register,.btn-liste,.btn-liste-accueil {
    display: flex;
    justify-content: center;
    border: 2px solid lightseagreen;
    background-color: lightseagreen;
    color: white;
    border-radius: 6px;
    padding: 0.2em;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 0 white;
    transition-duration: 0.4s;
    text-decoration: none;

}



/* ---------------------------------- FOOTER -------------------------------------*/

/* STYLES SPECIFIC TO FOOTER  */
.footer {
    width: 100%;
    position: static;
    bottom: 0;
    height: auto;
    background-color: #f4f4f4;
}

.footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 20px 20px 20px;
}

.footer .col h1 {
    margin: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0 5px 0;
    color: rgba(255, 255, 255, 0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0 5px 0;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

/* ---------------------------------- MEDIA-------------------------------------*/

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }

}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }

    .navigation {
        background-color: red;
    }


}

/* ---------------------------------- ENCART-------------------------------------*/

#encartGlobal {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);

}

#clock {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
}

#user {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    font-size: 2em;

    border-radius: 20px;
    margin: auto;
}

.encart {
    grid-column: 2/3;

    display: grid;
    justify-content: center;

}

/* ---------------------------------- ANNULATION SORTIE-------------------------------------*/

#annulation_sortie {

    background-color: #ffb285;
    color: black;
    border-radius: 6px;
    padding: 0.2em;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 0 white;
    transition-duration: 0.4s;
    text-decoration: none;
    display: flex;
    justify-content: center;
}



