{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}


<div class="admin">
    <a href="{{ path('admin_utilisateurs') }}">Utilisateurs</a>
    <a href="{{ path('admin_campus') }}">Campus</a>
    <a href="{{ path('admin_villes') }}">Villes</a>
</div>
{% endblock %}
