{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="lienAdminParent">
        <div class="lienAdmin">
            <div class="admin">
                <br>
                <a class="btn-liste-accueil" href="{{ path('admin_utilisateurs') }}">Utilisateurs</a>
                <br>
                <a class="btn-liste-accueil" href="{{ path('admin_campus') }}">Campus</a>
                <br>
                <a class="btn-liste-accueil" href="{{ path('admin_villes') }}">Villes</a>
                <br>
                <a class="btn-liste" href="{{ path('sortie_liste') }}">Retour à l'accueil</a>
                <br>
            </div>
        </div>
    </div>
{% endblock %}
