{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
    <div>
        <h2>Utilisateurs insérés</h2>
        {% for user in listeUser %}
        <p>{{ user.pseudo }}</p>
        {% endfor %}
    </div>
    <div>
        <h2>Erreurs</h2>
        {% for erreur in erreurs %}
            <p>{{ erreur }}</p>
        {% endfor %}
    </div>
    <p><a href="{{ path('admin_utilisateurs') }}">Retour à la liste des utilisateurs</a> </p>
{% endblock %}



