{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}
<div>
    <h3>Listes des utilisateurs inscrits</h3>
    <ul>
        {% for user in participants %}
        <li><a href="{{ path('admin_utilisateurs_detail',{'id':user.id}) }}">{{user.pseudo}}</a>  | <a href="{{ path('admin_util_suppr', {'id':user.id}) }}">Supprimer </a> </li>
        {% endfor %}
    </ul>

</div>
    <div>
        <a href="{{ path('admin_util_ajout') }}">Ajouter des utilisateurs</a>
    </div>
{% endblock %}


