{% extends 'base.html.twig' %}

{% block body %}



    <h1> Voici le liste des sorties  </h1>


    <ol>
        {% for sortie in sorties %}
            <li>

                <ul>
                    <li>
                        <p>Debut de la sortie  :  {{ sortie.dateHeureDebut | date('d/m/y H:i')}}</p>
                        <p>Fin des inscription  :  {{ sortie.dateLimiteInscription | date('d/m/y H:i')}}</p>
                        <p> Etat de l'activité   : {{ sortie.etat.libelle }}</p>

                    </li>
                </ul>
            </li>
            <br>
        {% endfor %}
    </ol>
    <hr>
    <a href="{{ path('sortie_creation') }}">ajouter une sortie</a>
    <hr>

{% endblock %}

