{% extends 'base.html.twig' %}

{% block body %}

    <h3 id="titreForm"> Modification des sorties</h3>

    <div>
        <div class="formAjoutParent">
            <div class="formAjout">
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button id="boutonForm">modifier</button>

            </div>
        </div>
        {{ form_end(sortieForm) }}
    </div>
    <br>
    <a class="btn-liste-accueil" href="{{ path('sortie_liste') }}">Retour à la liste</a>


{% endblock %}




