{% extends 'base.html.twig' %}

{% block body %}

    <h1> Modification des sorties</h1>

    <div>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button>modifier</button>
        <a href="{{ path('sortie_liste') }}">Retour à la liste</a>
        {{ form_end(sortieForm) }}
    </div>


{% endblock %}




