{% extends 'base.html.twig' %}

{% block title %}Hello RechercheController!{% endblock %}

{% block body %}

    {% block content %}
        <hr>
        <p>Le nom de la sortie contient </p>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">
            rechercher
        </button>
        {{ form_end(form) }}




    {% endblock %}

{% endblock %}
