{% extends 'base.html.twig' %}

{% block body %}

    <h1> Creation des sorties </h1>


    <div>
        {{ form_start(etatForm) }}
        {{ form_widget(etatForm) }}
        <button>ajouter</button>
        {{ form_end(etatForm) }}
    </div>

{% endblock %}



