{% extends 'base.html.twig' %}

{% block body %}



    <h1> Voici le liste des etats </h1>



    {% for etat in etats %}

        <ul>
            <li>
                <p> {{ etat.libelle }}</p>
                <p> {{ etat.id }}</p>
            </li>
        </ul>

    {% endfor %}

    <hr>
    <a href="{{ path('etat_creation') }}">ajouter un etat</a>
    <hr>

{% endblock %}



